<h1>Voyageses controller, show action</h1>

<p>Edit this file in <tt>app/views/voyageses/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_voyagese,  @voyagese) %> |
<%= link_to 'Back', url(:voyageses) %>
