%h1 Liste des Voyages enregistrés

- if @voyages.empty?
  %p Il n'y a pas de voyage enregistré actuellement

- else
  %table
    %tr
      %td Titre
    - @voyages.each do |voyage|
      %tr
        %td= voyage.title
        %td= link_to 'Voir', url(:admin_voyage, voyage)
        %td= link_to 'Supprimer', url(:delete_admin_voyage, voyage)

= link_to('ajouter un voyage', url(:new_admin_voyage))
