%h1 Création d'un voyage

= error_messages_for :voyage do |error|
  = "Impossible de créer le Voyage a cause des erreurs suivantes"

- form_for @voyage, :action => url(:admin_voyage) do |v|
  =text_control :title, :label => 'Titre :'
  %br
  =submit_button 'Create'

%p
  = link_to 'retour a la liste des voyages', url(:admin_voyages)
